<ion-content class="login-content" fullscreen>
  <div class="top-bg">
    <h2 class="title-signin">Registro</h2>
  </div>

  <div class="login-box">
    <form (submit)="registrarUsuario()">
      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="nombre"
          name="nombre"
          type="text"
          placeholder="Nombre:"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="apellido"
          name="apellido"
          type="text"
          placeholder="Apellido:"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Correo electrónico:"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Contraseña:"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          type="password"
          placeholder="Confirmar contraseña:"
          required
        ></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-login" type="submit">Registrarse</ion-button>

      <div class="social-icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-apple"></ion-icon>
      </div>

      <div class="footer-links">
        <a href="/sign-in">Iniciar sesión</a>
      </div>
    </form>
  </div>
</ion-content>
