<ion-tabs>
  <!-- Tab Bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="eventos" routerLink="/eventos">
      <img src="../../../assets/icon/Eventos.svg" alt="{{ 'tab_bar.eventos_alt' | translate }}">
      <ion-label>{{ 'tab_bar.eventos' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="buscar" routerLink="/buscar">
      <img src="../../../assets/icon/Buscar.svg" alt="{{ 'tab_bar.buscar_alt' | translate }}">
      <ion-label>{{ 'tab_bar.buscar' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home" routerLink="/homeusuario">
      <img src="../../../assets/icon/Home.svg" alt="{{ 'tab_bar.home_alt' | translate }}">
      <ion-label>{{ 'tab_bar.home' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="puntos" routerLink="/gamificacion">
      <img src="../../../assets/icon/Puntos.svg" alt="{{ 'tab_bar.puntos_alt' | translate }}">
      <ion-label>{{ 'tab_bar.puntos' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil" routerLink="/perfil">
      <img src="../../../assets/icon/Perfil.svg" alt="{{ 'tab_bar.perfil_alt' | translate }}">
      <ion-label>{{ 'tab_bar.perfil' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
