ion-tab-bar ion-label:hover {
    pointer-events: none; /* Desactiva la interacción */
    color: inherit; /* Mantén el color predeterminado sin cambios */
    text-decoration: none; /* Sin subrayado o efectos adicionales */
  }
 ion-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
