<ion-tabs>
  <!-- Tab Bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="eventos" routerLink="/eventos">
      <img src="../../../assets/icon/Eventos.svg" alt="Eventos Icon">
      <ion-label>Eventos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="buscar" routerLink="/buscar">
      <img src="../../../assets/icon/Buscar.svg" alt="Buscar Icon">
      <ion-label>Buscar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home" routerLink="/homeusuario">
      <img src="../../../assets/icon/Home.svg" alt="Home Icon">
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="puntos" routerLink="/puntos">
      <img src="../../../assets/icon/Puntos.svg" alt="Puntos Icon">
      <ion-label>Puntos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil" routerLink="/perfil">
      <img src="../../../assets/icon/Perfil.svg" alt="Perfil Icon">
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
