<ion-header class="ion-no-border">
  <div class="toolbar-simulada">
    <!-- Flecha atrás -->
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/sign-in">
        <ion-icon name="arrow-back" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center titulo-configuracion" color="danger">
      {{ 'recuperar_contrasena.titulo' | translate }}
    </ion-title>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <p>{{ 'recuperar_contrasena.ingresa_email' | translate }}</p>
  <form (submit)="recuperarPassword()">
    <ion-item>
      <ion-label class="fixed-label">{{ 'recuperar_contrasena.email' | translate }}</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-button color="success" shape="round" size="small" class="boton-personalizado" type="submit">
      {{ 'recuperar_contrasena.boton_enviar' | translate }}
    </ion-button>
  </form>
</ion-content>
