<ion-app>
  <ion-content color="dark">
    <div class="top-content-area"></div>
    <div class="main-visual-container">
      <img src="../../../assets/images/onb3.png" alt="Fondo de Capas de Color" class="visual-background-image">

      <ion-card class="top-text-card">
        <ion-card-content class="ion-text-center">
          <h1>¿Listo para probar lo mejor de la ciudad?</h1>
          <p>Crea tu cuenta y prueba platillos únicos en tu primer recorrido</p>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="bottom-button-area">
      <ion-button expand="block" shape="round" class="start-button" routerLink="/onboardingf">Empezar</ion-button>
      </div>
  </ion-content>
</ion-app>