.contenedor-perfil {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todos los hijos horizontalmente */
  width: 100%;
}

.avatar-marcado {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el círculo */
  width: 100%;
  margin-bottom: 10px;
}

.circulo-amarillo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fec530;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 18px auto 8px auto;
}

.botones-perfil {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el botón(s) debajo del avatar */
  margin-bottom: 10px;
}

.boton-personalizado {
  margin: 0 auto 8px auto;
  display: block;
}

.boton-cerrar-sesion {
  margin: 16px auto 0 auto;
  display: block;
}

.info-basica{
width: 100%;
background-color: #232428;
}

.contenedor-perfil>img{
  border-radius: 50%;
}

