<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/perfil">
        <ion-icon name="arrow-back" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center titulo-configuracion" color="danger">
      Perfil
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="notifications" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" class="fondo" [fullscreen]="true">
  <div class="contenedor-perfil">
   
    <!-- Imagen de perfil con marco amarillo -->
    <div class="avatar-marcado">
      <div class="circulo-amarillo">
        <img src="assets/icon/Perfil.svg" alt="Icono de perfil" />
      </div>
    </div>

    <!-- Botón Editar -->
    <div class="botones-perfil">
      <ion-button
        color="success"
        shape="round"
        size="small"
        class="boton-personalizado"
        routerLink="/Editar"
      >
        Editar
      </ion-button>
    </div>

    <!-- Información del local -->
    <div class="info-basica">
      <ion-item>
        <ion-label position="stacked">Nombre del local:</ion-label>
        <ion-text>{{ nombreLocal }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Gmail:</ion-label>
        <ion-text>{{ emailLocal }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Horarios de Atención:</ion-label>
        <ion-text>{{ horarioApertura }} - {{ horarioCierre }}</ion-text>
      </ion-item>
    </div>

    <!-- Botones adicionales -->
    <div class="botones">
      <ion-button color="primary">
        <ion-icon slot="start" name="diamond"></ion-icon>
        Suscripción
      </ion-button>

      <ion-button color="primary">
        <ion-icon slot="start" name="settings"></ion-icon>
        Configuración
      </ion-button>
    </div>

    <!-- Botón cerrar sesión -->
    <ion-button color="success" shape="round" class="boton-personalizado boton-cerrar-sesion" (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
