//   @font-face {
//   font-family: 'Montserrat';
//   src: url('/assets/fonts/static/Montserrat-Bold.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }
// ion-title {
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 700; // Bold
//   font-size: 24px; // Puedes ajustar el tamaño si lo quieres más grande
// }

.boton-personalizado {
  --background: #fec530;
  --color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width: 150px;
  border-radius: 50px;
  padding: 12px 24px;
  text-transform: none;
  justify-content: center;
  --border-radius: 20px;
  --padding-start: 16px;
  --padding-end: 16px;
}
 .contenedor-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;       // Centra horizontalmente
  justify-content: center;   // Centra verticalmente
  text-align: center;
  height: 100%;
  padding: 16px;
}

.info-basica {
  align-self: stretch; // Hace que ocupe todo el ancho disponible
  text-align: left;    // Alinea el texto a la izquierda
  margin-top: 16px;    // Separación opcional del resto
  padding: 0 16px;     // Espaciado interno opcional
}
.boton-cerrar-sesion {
  width: 300px;
  margin-top: 24px;
}
.avatar-marcado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.circulo-amarillo {
  background-color: #FEC530;
  border-radius: 50%;
  width: 140px; /* Ícono más grande */
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Ícono hacia abajo */
  padding-bottom: 16px;
  overflow: hidden;
}

.circulo-amarillo img {
  width: 200px; /* Más grande */
  height: 80px;
  object-fit: contain;
  filter: none;
  /* Cambia el color del SVG usando el atributo fill si es SVG inline, o coloreado desde el archivo si es externo */
}

.botones {
  display: flex;
  justify-content: space-evenly; /* mejor distribución con espacio entre */
  padding: 0 20px; /* margen interno a los lados */
  box-sizing: border-box;
  font-weight: 300;
}

.botones ion-button {
  --background: transparent;
  --color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 0;
  height: auto;
  --padding-start: 0;
  --padding-end: 0;
  --ripple-color: transparent;
  --box-shadow: none;
  min-width: 100px; /* puedes ajustar según lo necesites */
  overflow: visible; /* asegúrate que nada se corte */
}

.botones ion-button ion-icon {
  background-color: #F84B5F;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  margin-bottom: 8px;
  color: white;
  overflow: visible;
}

