<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/perfil">
        <ion-icon name="arrow-back" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center titulo-configuracion" color="danger">
      Perfil del Local
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="notifications" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" class="fondo" [fullscreen]="true">
  <div class="contenedor-perfil">
    <!-- Si hay imagen, solo esa; si no, el SVG -->
    <div class="avatar-marcado">
      <div class="circulo-amarillo">
        <img *ngIf="imageLink; else svgAvatar" [src]="imageLink" alt="Imagen del local" />
        <ng-template #svgAvatar>
          <img [src]="'assets/icon/' + (userData?.iconoPerfilLocal || 'Perfilnegro.svg')" alt="Avatar del local" />
        </ng-template>
      </div>
    </div>

    <div class="botones-perfil">
      <ion-button
        color="success"
        shape="round"
        size="small"
        class="boton-personalizado"
        routerLink="/editar-local"
      >
        Editar
      </ion-button>
    </div>

    <div class="info-basica">
      <ion-item>
        <ion-label position="stacked">Nombre del local:</ion-label>
        <ion-text>{{ nombreLocal }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo electrónico:</ion-label>
        <ion-text>{{ emailLocal }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Referencia:</ion-label>
        <ion-text>{{ referencia }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descripción:</ion-label>
        <ion-text>{{ descripcion }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Horario de Atención:</ion-label>
        <ion-text *ngIf="horarioApertura && horarioCierre">
          {{ horarioApertura }} - {{ horarioCierre }}
        </ion-text>
        <ion-text *ngIf="!horarioApertura || !horarioCierre">
          No especificado
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Imagen de Google:</ion-label>
        <ion-text *ngIf="imageLink">
          <a [href]="imageLink" target="_blank">{{ imageLink }}</a>
        </ion-text>
        <ion-text *ngIf="!imageLink">
          No asignada
        </ion-text>
      </ion-item>
    </div>

    <ion-button color="success" shape="round" class="boton-personalizado boton-cerrar-sesion" (click)="cerrarSesion()">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
