ion-title {
  font-family: var(--fuente-h2);
  font-size: var(--tamaño-h2);
  margin: 0; /* Para evitar el espacio por defecto de h2 */
  text-align: center;
}

.boton-personalizado {
  --background: #fec530;
  --color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width: 150px;
  border-radius: 50px;
  padding: 12px 24px;
  text-transform: none;
  justify-content: center;
  --border-radius: 20px;
  --padding-start: 16px;
  --padding-end: 16px;
}
 .contenedor-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;       // Centra horizontalmente
  justify-content: center;   // Centra verticalmente
  text-align: center;
}

.info-basica {
  align-self: stretch; // Hace que ocupe todo el ancho disponible
  text-align: left;    // Alinea el texto a la izquierda
  margin-top: 16px;    // Separación opcional del resto
  padding: 0 16px;     // Espaciado interno opcional
}
.boton-cerrar-sesion {
  width: 200px;
  margin-top: 24px;
  font-weight: bold;
  font-size: 16px;
  padding: 0; /* elimina el padding general */
  --padding-top: 1px;
  --padding-bottom: 1px;
  --padding-start: 12px;
  --padding-end: 12px;
}

.avatar-unico {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-unico img {
  width: 100px;
  height: auto;
  object-fit: contain;
}


.botones {
  display: flex;
  justify-content: space-evenly; /* mejor distribución con espacio entre */
  padding: 0 20px; /* margen interno a los lados */
  box-sizing: border-box;
  font-weight: 300;
  margin-top: 20px;
}

.botones ion-button {
  --background: transparent;
  --color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 0;
  height: auto;
  --padding-start: 0;
  --padding-end: 0;
  --ripple-color: transparent;
  --box-shadow: none;
  min-width: 100px; /* puedes ajustar según lo necesites */
  overflow: visible; /* asegúrate que nada se corte */
}

.botones ion-button ion-icon {
  background-color: #F84B5F;
  border-radius: 50%;
  padding: 8px;        /* antes 12px → círculo más pequeño */
  font-size: 20px;     /* antes 20px → icono más pequeño */
  margin-bottom: 8px;
  color: #191A1D;
  overflow: visible;
  
}
.botones ion-button::part(native) {
  overflow: visible;
  padding: 0 !important;
}

