
.boton-personalizado {
  --background: #fec530;
  --color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width: 150px;
  border-radius: 50px;
  padding: 12px 24px;
  text-transform: none;
  justify-content: center;
  --border-radius: 20px;
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-title {
  font-family: var(--fuente-h2);
  font-size: var(--tamaño-h2);
  margin: 0; /* Para evitar el espacio por defecto de h2 */
  text-align: center;
}

header{
  font-family: var(--fuente-h2);
  font-size: var(--tamaño-h2);
}

.contenedor-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;       // Centra horizontalmente
  justify-content: center;   // Centra verticalmente
  text-align: center;
  margin-top: 20px;
}
.info-basica {
  align-self: stretch; // Hace que ocupe todo el ancho disponible
  text-align: left;    // Alinea el texto a la izquierda
  margin-top: 16px;    // Separación opcional del resto
  padding: 0 16px;     // Espaciado interno opcional
}
.boton-cerrar-sesion {
  width: 300px;
  margin-top: 24px;
}
.avatar-marcado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.circulo-amarillo {
  background-color: #FEC530;
  border-radius: 50%;
  width: 140px; /* Ícono más grande */
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Ícono hacia abajo */
  padding-bottom: 16px;
  overflow: hidden;
}

.circulo-amarillo img {
  width: 200px; /* Más grande */
  height: 80px;
  object-fit: contain;
  filter: none;
  /* Cambia el color del SVG usando el atributo fill si es SVG inline, o coloreado desde el archivo si es externo */
}

.grafico-placeholder{
  margin-top: 50px;
}