/* Estilos generales */
* {
    font-family: 'Montserrat', sans-serif;
}

.fondo {
  --background: #1e1e2d;
}

.contenedor-historial {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

/* Título */
.titulo-historial {
  font-size: 20px;
  font-weight: bold;
}

/* Subtítulo */
.subtitulo-historial {
  color: #575759;
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}

/* Botón de enlace */
.boton-enlace {
  color: #E6E6E6;
  text-decoration: underline;
  font-size: 12px;
  font-weight: normal;
  text-transform: none
}

/* Botón de acción */
.boton-personalizado {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin-top: 60px;
}