<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!-- Flecha atrás -->
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/perfil">
        <ion-icon name="arrow-back" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center titulo-historial" color="warning">
      Cambiar Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" class="fondo" [fullscreen]="true">
  <div class="contenedor-historial">

    <!-- Subtítulo -->
    <div class="subtitulo-historial">
      La contraseña debe tener al menos 6 caracteres e incluir una combinación de números, letras y caracteres especiales.
    </div>

    <!-- Información básica -->
    <div class="datos">
      <ion-item>
        <ion-label>Contraseña Actual:</ion-label>
        <ion-input type="password" [(ngModel)]="contrasenaActual"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Contraseña Nueva:</ion-label>
        <ion-input type="password" [(ngModel)]="nuevaContrasena"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Repetir Contraseña:</ion-label>
        <ion-input type="password" [(ngModel)]="repetirContrasena"></ion-input>
      </ion-item>
    </div>

    <!-- Botón olvidaste contraseña -->
    <ion-button class="boton-enlace" fill="clear">
      Olvidaste tu contraseña
    </ion-button>

    <!-- Botón cambiar contraseña -->
    <ion-button
      color="success"
      shape="round"
      class="boton-personalizado"
      (click)="cambiarContrasena()"
    >
      Cambiar Contraseña
    </ion-button>

  </div>
</ion-content>
