<body>
  <ion-app>
    <ion-content fullscreen>
      <div class="container">
        <!-- Imagen que representa "UKHU". Asegúrate de que la imagen combine los colores y estilos que requieres -->
        <div class="ukhu">
          <img src="../../../assets/images/Ukhu.png" alt="UKHU" class="ukhu-img" />
        </div>
        <!-- Botón "Saltar" -->
        <div class="footer-links">
          <a href="/sign-in">Saltar</a>
        </div>

        <!-- Elementos decorativos (imágenes) -->
        <div class="decorative top-right">
          <img src="../../../assets/images/DecorationRed.png" alt="Decoración superior derecha" class="decor-img" />
        </div>
        <div class="decorative bottom-left">
          <img src="../../../assets/images/DecorationYell.png" alt="Decoración inferior izquierda" class="decor-img" />
        </div>
      </div>
    </ion-content>
  </ion-app>
</body>