<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-resena">Escribe una reseña</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" slot="icon-only" style="color: #F84B5F; font-size: 1.5em;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-resena">
  <div class="caja-resena">
    <label class="label-resena">Escribe tu reseña :</label>
    <textarea
      [(ngModel)]="comentario"
      placeholder="Opcional"
      maxlength="250"
      rows="4"
      class="textarea-resena">
    </textarea>
    
  </div>
  <div class="btn-enviar-container">
      <ion-button class="btn-enviar" (click)="enviarResena()">Enviar</ion-button>
    </div>
</ion-content>