<ion-app>
  <ion-content color="dark">
    <div class="top-logo-area">
      <img src="../../../assets/images/IsoUkhu.png" alt="Logo de UKHU" class="app-logo">
    </div>

    <ion-card class="welcome-card">
      <ion-card-content class="ion-text-center">
        <h1>Bienvenido</h1>
        <p>Bienvenido a UKHU, prepárate para explorar y conocer el alma de tu ciudad</p>

        <div class="button-group">
          <ion-button expand="block" shape="round" class="sign-in-button" routerLink="/sign-in">Sign In</ion-button>
          <ion-button expand="block" shape="round" fill="outline" class="sign-up-button" routerLink="/sign-up">Sign Up</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>