<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gamificacion"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-centered">Misiones</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="section-title">Misiones Diarias</h2>

  <ion-card class="mission-card">
    <div class="card-content-wrapper">
      <div class="card-icon">
        <img src="../../../assets/images/mis1.png" alt="Icono Restaurante">
      </div>
      <div class="card-details">
        <p class="card-category">RESTAURANTE</p>
        <h3 class="card-title">Visita 1 restaurante</h3>
        <p class="card-expiration">Caducación: DD/MM/AA</p>
      </div>
      <div class="card-points">
        <p class="points-value">x10 Llajuas</p>
        <div class="progress-container">
          <div class="progress-bar" style="width: 10%;"></div>
        </div>
        <p class="progress-text">0/1</p>
      </div>
    </div>
  </ion-card>

  <ion-card class="mission-card">
    <div class="card-content-wrapper">
      <div class="card-icon">
        <img src="../../../assets/images/mis5.png" alt="Icono Pollo">
      </div>
      <div class="card-details">
        <p class="card-category">COMIDA</p>
        <h3 class="card-title">Come 2 pollos</h3>
        <p class="card-expiration">Caducación: DD/MM/AA</p>
      </div>
      <div class="card-points">
        <p class="points-value">x20 Llajuas</p>
        <div class="progress-container">
          <div class="progress-bar" style="width: 0%;"></div>
        </div>
        <p class="progress-text">0/2</p>
      </div>
    </div>
  </ion-card>

  <ion-card class="mission-card">
    <div class="card-content-wrapper">
      <div class="card-icon">
        <img src="../../../assets/images/mis3.png" alt="Icono Platillo Típico">
      </div>
      <div class="card-details">
        <p class="card-category">CULTURAL</p>
        <h3 class="card-title">Come 5 platillos tipicos</h3>
        <p class="card-expiration">Caducación: DD/MM/AA</p>
      </div>
      <div class="card-points">
        <p class="points-value">x30 Llajuas</p>
        <div class="progress-container">
          <div class="progress-bar" style="width: 80%;"></div>
        </div>
        <p class="progress-text">4/5</p>
      </div>
    </div>
  </ion-card>

  <h2 class="section-title">Misiones Semanales</h2>

  <ion-card class="mission-card">
    <div class="card-content-wrapper">
      <div class="card-icon">
        <img src="../../../assets/images/mis4.png" alt="Icono Restaurante">
      </div>
      <div class="card-details">
        <p class="card-category">RESTAURANTES</p>
        <h3 class="card-title">Visita 6 restaurantes</h3>
        <p class="card-expiration">Caducación: DD/MM/AA</p>
      </div>
      <div class="card-points">
        <p class="points-value">x50 Llajuas</p>
        <div class="progress-container">
          <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <p class="progress-text">5/5</p>
      </div>
    </div>
  </ion-card>

  <ion-card class="mission-card">
    <div class="card-content-wrapper">
      <div class="card-icon">
        <img src="../../../assets/images/mis5.png" alt="Icono Misión Genérica">
      </div>
      <div class="card-details">
        <p class="card-category">CATEGORIA</p>
        <h3 class="card-title">Mision</h3>
        <p class="card-expiration">Caducación: DD/MM/AA</p>
      </div>
      <div class="card-points">
        <p class="points-value">x50 Llajuas</p>
        <div class="progress-container">
          <div class="progress-bar" style="width: 80%;"></div>
        </div>
        <p class="progress-text">4/5</p>
      </div>
    </div>
  </ion-card>

</ion-content>
