<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gamificacion"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-centered">
      {{ 'recompensas.titulo' | translate }}
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="section-title">
    {{ 'recompensas.descuentos' | translate }}
  </h2>

  <swiper-container slides-per-view="1.1" space-between="15" centered-slides="true" pagination="true" style="width: 100%; height: 420px;">
    <swiper-slide>
      <ion-card class="reward-card">
        <div class="reward-image-container">
          <img src="../../../assets/images/10.png" alt="{{ 'recompensas.cupon_10.alt' | translate }}">
        </div>
        <div class="reward-details">
          <h3 class="reward-title">
            {{ 'recompensas.cupon_10.titulo' | translate }}
          </h3>
          <p class="reward-cost">
            {{ 'recompensas.cupon_10.costo' | translate }}
          </p>
          <p class="reward-description">
            {{ 'recompensas.cupon_10.descripcion' | translate }}
          </p>
        </div>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="reward-card">
        <div class="reward-image-container">
          <img src="../../../assets/images/15.png" alt="{{ 'recompensas.cupon_15.alt' | translate }}">
        </div>
        <div class="reward-details">
          <h3 class="reward-title">
            {{ 'recompensas.cupon_15.titulo' | translate }}
          </h3>
          <p class="reward-cost">
            {{ 'recompensas.cupon_15.costo' | translate }}
          </p>
          <p class="reward-description">
            {{ 'recompensas.cupon_15.descripcion' | translate }}
          </p>
        </div>
      </ion-card>
    </swiper-slide>

    <swiper-slide>
      <ion-card class="reward-card">
        <div class="reward-image-container">
          <img src="../../../assets/images/20.png" alt="{{ 'recompensas.cupon_20.alt' | translate }}">
        </div>
        <div class="reward-details">
          <h3 class="reward-title">
            {{ 'recompensas.cupon_20.titulo' | translate }}
          </h3>
          <p class="reward-cost">
            {{ 'recompensas.cupon_20.costo' | translate }}
          </p>
          <p class="reward-description">
            {{ 'recompensas.cupon_20.descripcion' | translate }}
          </p>
        </div>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>
