/* Estilos globales */
* {
  border-color: transparent;
}

:root {
  --ion-toolbar-background: #121212 !important;
}

/* Fondo general de la página */
ion-content {
  --background: #191A1D; /* Fondo oscuro */
  padding-top: 20px;
}

/* Header con color ajustado */
ion-header {
  background-color: #191A1D !important;
  --background: transparent;
  box-shadow: none; /* Elimina la sombra */
}

ion-toolbar {
  background-color: #191A1D !important;
  --background: transparent;
  --border-width: 0;
  box-shadow: none;
}

.title-centered {
  text-align: center;
  color: #F84B5F;
  font-weight: bolder;
  font-size: 24px;
  font-family: 'Montserrath2';
}

/* Botón de notificaciones */
ion-buttons ion-button {
  --padding-end: 15px;
}

ion-buttons ion-icon {
  color: #F84B5F; /* Color de la campana */
}

/* Tarjeta de Puntos LLajua */
.points-card {
  background: #f74d61;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

.card-background-top {
  background: #ffd740;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
  z-index: 0;
}

.card-content {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
}

.llajua-text {
  font-size: 40px;
  font-family: 'Montserrath1';
  font-weight: bolder;
  color: #191A1D;
  margin: 0;
  line-height: 1;
}

.points-progress {
  font-size: 15px;
  font-weight: normal;
  color: #191A1D;
  font-family: 'Montserratp-small';
  margin-top: 5px;
  margin-bottom: 0;
}

.points-label {
  font-size: 15px;
  color: #191A1D;
  font-family: 'Montserratp-small';
  margin-top: 10px;
}

/* Estilos para los botones de Misiones y Recompensas */
.action-button {
  --background: transparent;
  --background-activated: rgba(255, 255, 255, 0.2);
  --border-radius: 15px;
  height: 150px;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.action-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: 0;
  border-radius: 15px;
}

.button-text {
  position: relative;
  z-index: 1;
  color: #ffd740;
  font-family: 'Montserrath2';
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Fondos específicos para los botones */
.missions-button::before {
  background-image: url('../../../assets/images/misiones.png');
}

.rewards-button::before {
  background-image: url('../../../assets/images/recompensa.png');
}
