<ion-content class="login-content" fullscreen>
  <div class="top-bg">
    <h2 class="title-signin">{{ 'login_titulo' | translate }}</h2>
  </div>

  <div class="login-box">
    <form (submit)="iniciarSesion()">
      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="email"
          name="email"
          type="email"
          [placeholder]="'login_correo' | translate"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="password"
          name="password"
          type="password"
          [placeholder]="'login_contrasena' | translate"
          required
        ></ion-input>
      </ion-item>

      <div class="forgot-password">
        <a routerLink="/forgot-password">{{ 'login_olvidaste_contrasena' | translate }}</a>
      </div>

      <ion-button expand="block" class="btn-login" type="submit">
        {{ 'login_boton' | translate }}
      </ion-button>

      <div class="social-icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-apple"></ion-icon>
      </div>

      <div class="footer-links">
        <a [routerLink]="['/signin-comercio']">Login Comercio</a>
        <a href="#">{{ 'login_registro' | translate }}</a>
      </div>
    </form>
  </div>
</ion-content>
