<ion-content class="login-content" fullscreen>
  <div class="top-bg">
    <h2 class="title-signin">Sign In</h2>
  </div>

  <div class="login-box">
    <form (submit)="iniciarSesion()">
      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Correo electrónico:"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Contraseña:"
          required
        ></ion-input>
      </ion-item>

      <div class="forgot-password">
        <a routerLink="/forgot-pasword">Olvidaste tu contraseña</a>
      </div>

      <ion-button expand="block" class="btn-login" type="submit">Sign In</ion-button>

      <div class="social-icons">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-apple"></ion-icon>
      </div>

      <div class="footer-links">
        <a href="#">Comercio</a>
        <a href="#">Sign Up</a>
      </div>
    </form>
  </div>
</ion-content>
