<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-configuracion">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/homeusuario">
        <ion-icon name="arrow-back" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center titulo-configuracion" color="danger">
      {{ 'resennas.titulo' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="notifications" slot="icon-only" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor-configuracion fondo">
  <app-card-resenas
    *ngFor="let resena of resenas$ | async"
    [usuario]="resena.usuario"
    [comentario]="resena.comentario"
    [rating]="resena.rating">
  </app-card-resenas>
</ion-content>
