.input2{
    border-bottom: 2px solid var(--ion-color-success);
    color: var(--ion-color-tertiary);
    height: 27px;
    margin: 15px 26px 15px 26px;
    align-items: center;
    font-size: 18px;
    padding-left: 8px;
}
