<ion-header>
  <ion-toolbar>
    <ion-title>Ingresa el código</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="codigo-modal-box">
    <h1>Ingresa el codigo</h1>
    <div class="subtitulo">Ingresa el codigo que te muestra el local</div>

    <div class="codigo-inputs">
      <input class="codigo-digit" maxlength="1" *ngFor="let idx of [0,1,2,3,4]; let i = index"
             [(ngModel)]="codigoDigits[i]"
             (input)="onDigitInput($event, i)" type="text" pattern="[0-9A-Za-z]*" autocomplete="off" />
    </div>

    <div class="info-extra">
      <p>Código generado: <strong>{{ codigoGenerado }}</strong></p>
      <p>Tiempo restante: <strong>{{ tiempoRestante }}</strong> segundos</p>
    </div>

    <ion-button expand="block" (click)="validateCode()" [disabled]="codigo.length !== 5">
      Listo
    </ion-button>
  </div>
</ion-content>