*{
    background-color: #191A1D;
}

ion-title {
  text-align: center;
  flex: 1;
  padding-top: 12px;
  font-size: var(--tamaño-h2);
  font-family: var(--fuente-h2);
  white-space: normal;
}

/* ion-img por defecto con altura fija */
ion-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 16px;
}

/* Para la imagen que debe conservar su altura natural */
.img-natural {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  justify-content: center;
}
