/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css"; 
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css"; // 

@import "~leaflet/dist/leaflet.css";

@font-face {
  font-family: 'Montserrath1';
  src: url('./assets/fonts/static/Montserrat-ExtraBold.ttf') format('truetype')
}
@font-face {
  font-family: 'Montserrath2';
  src: url('./assets/fonts/static/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrath3-h4';
  src: url('./assets/fonts/static/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserratp-small';
  src: url('./assets/fonts/static/Montserrat-Regular.ttf') format('truetype');
}

:root{
    --ion-font-family:'Montserratp-small';
}

ion-header {
  padding-left: var(--margen-lateral);
  padding-right: var(--margen-lateral);
  padding-top: var(--margen-superior);

}

ion-content {
  padding-left: var(--margen-lateral);
  padding-right: var(--margen-lateral);
  padding-top: var(--margen-superior);
  padding-bottom: var(--margen-inferior);
}

ion-header::part(toolbar) {
  contain: none !important;
  overflow: visible !important;
}
ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  border-bottom: 2px solid var(--ion-color-success); /* 🔹 Usa la variable de éxito */
  border-radius: 0;
  padding-bottom: 8px;
}
