<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!-- Flecha atrás -->
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/perfil">
        <ion-icon name="arrow-back" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center titulo-historial" color="warning">
      {{ 'historial.titulo' | translate }}
    </ion-title>

    <!-- Campanita -->
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="notifications" slot="icon-only" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" class="fondo" [fullscreen]="true">
  <div class="tarjetas-historial">
    <app-historial-card
      *ngFor="let registro of historial"
      [nombreRestaurante]="registro.nombre_restaurante"
      [fechaVisita]="registro.fecha_visita">
    </app-historial-card>
  </div>
</ion-content>
