.fondo {
  --background: #121216;
  color: white;
}

ion-header {
  font-family: 'Montserrat', sans-serif;
}

ion-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; // si quieres que diga "Historial" en negrita
}

ion-content {
  --padding-start: 18px;
  --padding-end: 18px;
  --padding-top: 34px;
  --padding-bottom: 44px;
  background-color: #191A1D;
}

.contenedor-historial {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.titulo-historial {
  font-weight: bold;
}
.subtitulo-historial {
  text-align: left;
  margin-top: 1rem;
  color: #575759;
  font-size: 1rem;
  font-weight: 700;
}

.tarjetas-historial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.tarjeta-historial {
  background-color: #191A1D; /* igual al fondo general */
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* sombra inferior suave */
}

.icono-restaurante {
  background-color: #facc15;
  border-radius: 50%;
  padding: 10px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.info-restaurante {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
}

.fecha-restaurante {
  font-size: 0.8rem;
  color: #999;
  margin-left: auto;
}

.nombre-restaurante {
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.fecha-restaurante {
  font-size: 0.8rem;
  color: #999;
}

.icono-restaurante ion-icon {
  font-size: 25px; /* Tamaño de la lupa */
}
