<ion-content class="ion-padding">
  <div class="rating-card">
    <div class="stars-container">
      <ion-icon *ngFor="let estrella of [1,2,3,4,5]" 
                name="{{ calificacionSeleccionada >= estrella ? 'star' : 'star-outline' }}" 
                (click)="seleccionarCalificacion(estrella)">
      </ion-icon>
    </div>
        <div class="rating-title">Puntua el restaurante</div>
    <ion-button class="rating-btn" expand="block" (click)="enviarRanking()" [disabled]="!calificacionSeleccionada">
      Enviar Ranking
    </ion-button>
  </div>
</ion-content>