<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title color="warning" class="titulo-modal">
      {{ 'soporte_tecnico.titulo' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-modal">
  <ion-card class="card-modal">
    <ion-card-header>
      <ion-label class="titulo-seccion">
        {{ 'soporte_tecnico.contactanos' | translate }}
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" class="item-contacto">
        <ion-icon name="mail-outline" slot="start" class="icono-circular"></ion-icon>
        <ion-label>{{ 'soporte_tecnico.contactanos' | translate }}</ion-label>
        <ion-buttons slot="end">
          <ion-button fill="clear" color="warning" href="https://mail.google.com/mail/?view=cm&to=gianira.salas@ucb.edu.bo" target="_blank">
            <ion-icon name="mail-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="success" href="https://wa.me/+59176731122" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-modal">
    <ion-card-header>
      <ion-label class="titulo-seccion">
        {{ 'faq.titulo' | translate }}
      </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <div class="faq-item-wrapper">
          <ion-item lines="none" class="item-faq" (click)="mostrarRespuesta(0)">
            <ion-icon name="search-outline" slot="start" class="icono-circular"></ion-icon>
            <ion-label>{{ 'faq.preguntas.0' | translate }}</ion-label>
          </ion-item>
          <div *ngIf="preguntaActiva === 0" class="respuesta-faq">
            <ion-icon name="search-outline" class="icono-circular"></ion-icon>
            <span>{{ 'faq.respuestas.0' | translate }}</span>
          </div>
        </div>
        <div class="faq-item-wrapper">
          <ion-item lines="none" class="item-faq" (click)="mostrarRespuesta(1)">
            <ion-icon name="search-outline" slot="start" class="icono-circular"></ion-icon>
            <ion-label>{{ 'faq.preguntas.1' | translate }}</ion-label>
          </ion-item>
          <div *ngIf="preguntaActiva === 1" class="respuesta-faq">
            <ion-icon name="search-outline" class="icono-circular"></ion-icon>
            <span>{{ 'faq.respuestas.1' | translate }}</span>
          </div>
        </div>
        <div class="faq-item-wrapper">
          <ion-item lines="none" class="item-faq" (click)="mostrarRespuesta(2)">
            <ion-icon name="search-outline" slot="start" class="icono-circular"></ion-icon>
            <ion-label>{{ 'faq.preguntas.2' | translate }}</ion-label>
          </ion-item>
          <div *ngIf="preguntaActiva === 2" class="respuesta-faq">
            <ion-icon name="search-outline" class="icono-circular"></ion-icon>
            <span>{{ 'faq.respuestas.2' | translate }}</span>
          </div>
        </div>
        <div class="faq-item-wrapper">
          <ion-item lines="none" class="item-faq" (click)="mostrarRespuesta(3)">
            <ion-icon name="search-outline" slot="start" class="icono-circular"></ion-icon>
            <ion-label>{{ 'faq.preguntas.3' | translate }}</ion-label>
          </ion-item>
          <div *ngIf="preguntaActiva === 3" class="respuesta-faq">
            <ion-icon name="search-outline" class="icono-circular"></ion-icon>
            <span>{{ 'faq.respuestas.3' | translate }}</span>
          </div>
        </div>
        <div class="faq-item-wrapper">
          <ion-item lines="none" class="item-faq" (click)="mostrarRespuesta(4)">
            <ion-icon name="search-outline" slot="start" class="icono-circular"></ion-icon>
            <ion-label>{{ 'faq.preguntas.4' | translate }}</ion-label>
          </ion-item>
          <div *ngIf="preguntaActiva === 4" class="respuesta-faq">
            <ion-icon name="search-outline" class="icono-circular"></ion-icon>
            <span>{{ 'faq.respuestas.4' | translate }}</span>
          </div>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
